.count-container {
  border: 7px solid #fff;
  padding: 10px;
  box-shadow: 10px 10px 8px #222;
}

.count-result {
  font-size: 30px;
}

.click-div {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.de-increment-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px;
  border-radius: 15px;
  background-color: darkgoldenrod;
  color: #fff;
  margin: 0 20px;
  border: 2px solid darkgoldenrod;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 10px;
}

.form-input {
  border-radius: 10px;
  border: none;
  padding: 7px;
}

.form-btn {
  padding: 5px;
}

@media screen and (min-width: 960px) {
  .count-result {
    font-size: 50px;
  }

  .btn {
    font-size: 20px;
  }

  form {
    flex-direction: row;
  }

  .form-input {
    padding: 10px;
  }

  .form-btn {
    padding: 7px;
    font-size: 17px;
  }
}
