.home-h1 {
  font-size: 30px;
  margin: 50px 0;
  text-align: center;
}

span {
  color: darkgoldenrod;
}

.home-btn {
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .home-h1 {
    font-size: 50px;
  }
}
