.home-h1 {
  font-size: 30px;
  text-align: center;
}

.home-p {
  font-size: 20px;
  margin: 50px 0;
  text-align: center;
  width: 90%;
}

.home-span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

span {
  color: darkgoldenrod;
}

.home-btn {
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .home-h1 {
    font-size: 50px;
  }

  .home-p {
    font-size: 25px;
    width: 70%;
  }

  .home-span {
    font-size: 20px;
  }
}
