*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-result {
  font-size: 50px;
}

.click-div {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.de-increment-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  padding: 10px;
  border-radius: 15px;
  background-color: darkgoldenrod;
  color: #fff;
  margin: 0 20px;
  border: 2px solid darkgoldenrod;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.error-container {
  background-image: linear-gradient(
      to bottom,
      rgba(2, 2, 2, 0.52),
      rgba(2, 2, 2, 0.93)
    ),
    url("/public/assets/404.jpg");
}

.error-boundary {
  background: #d4e79e;
}

.h3-bug {
  padding: 20px 0;
}

.error-link {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.error-link:hover {
  color: darkgoldenrod;
}

details {
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .btn {
    font-size: 20px;
  }
}
